extends layout

block content
    h1.bct-header Publish Stream
    form(enctype="multipart/form-data")#publish-stream-form.bct-form
        div.form-group
            label(for="address") Select Address : 
                a(href="#")#address-refresh
                    span.glyphicon.glyphicon-refresh
            select.form-control#address.bct-form__input

        div.form-group
            label(for="stream-list") Select Stream : 
                a(href="#")#stream-refresh
                    span.glyphicon.glyphicon-refresh
            select.form-control#stream-name.bct-form__input.stream-list

        //- input(type='text' placeholder='Stream Name' required)#stream-name.bct-form__input
        input(type='text' placeholder='Key' )#stream-key.bct-form__input

        span Upload a file
        input(type="file" name='file')#files.bct-form__input

        span or Input text
        textarea(rows="5").form-control#stream-data-text.bct-form__input
        //- input(type='text' placeholder='Data' required)#stream-data-text.bct-form__input

        button(type='submit').bct-form__btn.bct-form__btn_read Publish Stream
    include ./overlay

